<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>World</title>
</head>
<body class="bg-dark">

<h2 class="bg-dark text-center"><a class="text-success" href="{% url "worldapp:world" %}">World</a></h2>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-success" href="{% url "worldapp:world" %}">All</a>
  {% for x in abc_menu %}
  <a class="navbar-brand text-success" href="{% url "worldapp:world" x %}">[{{ x }}]</a>
  {% endfor %}
</nav>

{% block content %} {% endblock %}

</body>
</html>