{% extends "worldapp/base.html" %}

{% block content %} 

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Population</th>
      <th scope="col">Surface Arena</th>
      <th scope="col">Continent</th>
      <th scope="col">Region</th>
      <th scope="col">Code</th>
      <th scope="col">President</th>
    </tr>
  </thead>
  <tbody>
  	{% if object_list %}
    {% for x in object_list%}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url "worldapp:country" x.name|slugify %}"> {{ x.name }}</a></td>
      <td>{{ x.population }}</td>
      <td>{{ x.surfacearea }}</td>
      <td>{{ x.continent }}</td>
      <td>{{ x.region }}</td>
      <td>{{ x.code }}</td>
      <td>{{ x.headofstate }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <h3 class="text-warning text-center">None</h3>
    {% endif %}
  </tbody>
</table>


{% endblock %}