{% extends 'worldapp/base.html' %}

{% block content  %}

<div class="alert alert-primary" role="alert">
	<h3 class="text-center">Detail information : {{ country_obj }} </h3>
</div>
<div class="table-responsive">
 	<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Population</th>
      <th scope="col">Surface Arena</th>
      <th scope="col">Continent</th>
      <th scope="col">Region</th>
      <th scope="col">Code</th>
      <th scope="col">President</th>
      <th scope="col">Indep Year</th>
      <th scope="col">Life Expectancy</th>
      <th scope="col">GNP</th>
      <th scope="col">GNP Old</th>
      <th scope="col">Local Name</th>
      <th scope="col">Government Form</th>
      <th scope="col">Capital</th>
      <th scope="col">Code2</th>
    </tr>
  </thead>
  <tbody>
  	
    <tr>
      <td>{{ country_obj.population }}</td>
      <td>{{ country_obj.surfacearea }}</td>
      <td>{{ country_obj.continent }}</td>
      <td>{{ country_obj.region }}</td>
      <td>{{ country_obj.code }}</td>
      <td>{{ country_obj.headofstate }}</td>
      <td>{{ country_obj.indepyear}}</td>
      <td>{{ country_obj.lifeexpectancy }}</td>
      <td>{{ country_obj.gnp }}</td>
      <td>{{ country_obj.gnpold }}</td>
      <td>{{ country_obj.localname }}</td>
      <td>{{ country_obj.governmentform }}</td>
      <td>{{ country_obj.capital }}</td>
      <td>{{ country_obj.code2 }}</td>
    </tr>
  </tbody>
</table>
</div>

<div class="alert alert-danger text-center" >
  <h3>Languages of {{ country_obj.name }}</h3>
</div>

<div class="table-responsive">
 	<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Language</th>
      <th scope="col">Is Official</th>
      <th scope="col">Procentage</th>
      
    </tr>
  </thead>
  <tbody>
  	{% for x in country_obj.countrylanguage_set.all %}
    <tr>

      <td>{{ x.language }}</td>
      <td>{% if x.isofficial == "T" %} YES {% elif x.isofficial == 'F' %} NO {% endif %} </td>
      <td>{{ x.percentage }}</td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class="alert alert-success text-center" >
  <h3>City of {{ country_obj.name }} : ({{ country_obj.city_set.all.count }})</h3>
</div>

<div class="table-responsive">
 	<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Country Code</th>
      <th scope="col">District</th>
      <th scope="col">Population</th>
      
    </tr>
  </thead>
  <tbody>
  	{% for x in country_obj.city_set.all %}
    <tr>
      <td>{{ x.name }}</td>
      <td>{{ x.countrycode }}</td>
      <td>{{ x.district }}</td>
      <td>{{ x.population }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
